/* Màu sắc & Nền chủ đạo */
.text-primary { color: #ea5b0c !important; }
.bg-primary { background-color: #ea5b0c !important; }
.btn-primary { background-color: #ea5b0c; border-color: #ea5b0c; color: white; }
.btn-primary:hover { background-color: #c94d0a; border-color: #c94d0a; }

.bg-custom-dark { background-color: #212529; }
.hero-section { background-color: #2b2b2b; }

/* Khu vực Header (Thay cho style inline) */
.top-bar-bg { background-color: #212529; }
.navbar-bg { background-color: #0f1113; }
.font-logo { font-family: 'Emblema One', cursive; letter-spacing: 1px; }
.nav-link.active { color: #ea5b0c !important; }

/* Bo góc hình ảnh */
.radius-custom { border-top-left-radius: 100px; }
.radius-testimonial { border-bottom-right-radius: 100px; border-top-left-radius: 100px; }